body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dee6e2ec;
}

header {
  background-color: #dee6e2ec;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #dee6e2ec;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: rgb(33, 33, 33);
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

nav a:hover {
  background-color: #01c3fe;
  color: rgb(6, 6, 6);
}

main {
  padding: 20px;
}

section h2 {
  color: #a20000;
}

section p {
  color: rgb(5, 4, 4);
  line-height: 1.5;
  margin: 10px 0;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section li {
  color: rgb(11, 11, 11);
  margin: 10px 0;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 80%;
}

footer {
  background-color: #0f0f0f;
  color: #fff;
  padding: 20px;
  text-align: center;
}
